<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">BLOG</span>
        </div>
      </nav>
      <div class="card-body">
        <a href="#" class="btn btn-primary stretched-link">new blog</a>
        <a href="#" class="btn btn-primary stretched-link">index</a>
      </div>
      <h1>oops! page not found...</h1>
</body>
</html>